// Define variable defaults
$body-bg: #fff;
$body-color: #111;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

.selector-for-some-widget {
  box-sizing: content-box;
}


.table th, .table td {
    vertical-align: middle!important;
}

table#table-transition-example .flip-list-move {
  transition: transform 0.5s;
}

.row {
    margin-right: 0;
    margin-left: -0;
}